@import url('https://fonts.googleapis.com/css?family=Righteous');

body {
  text-align: center;
  background-color: rgb(204, 51, 65);
  color: white;
  font-family: 'Righteous', cursive;
  margin-top: 1em;
}

.album-cover {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: 100%;
  margin: 0 auto;
  border: 40px solid black;
  animation: rotate 36s linear infinite;
  animation-play-state: paused;
}

.artist {
  margin-bottom: 5em;
}

.button-list {
  display: flex;
}

.button-list i {
  flex: 1;
}

.tip {
  margin-top: 2em;
  font-size: 12px;
}

.tip::before {
  content: 'Tip: ';
}

@keyframes rotate{
  100% { transform: rotate(360deg); }
}

@keyframes flip {
  100% { transform: rotate3d(0, 1, 0, 360deg); }
}
